<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>ThermostAmit</title>
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/api-key.js"></script>
    
  </head>
  <body>

      <form id="change-location" action="thermostat.html" method="post">
        <label for="weather-location">Current weather for:</label>
        <input type="text" name="weather-location" value="London">
        <input type="text" name= "weather-country" value="UK">
        <button class="small-button" type="submit">Change Location</button>
      </form>

    <div id='weather'>

    </div>
    <div id="app">
    </div>
    <script src="js/jasmine-standalone-3/src/Thermostat_3.js"></script>
    <script src="js/jasmine-standalone-3/src/Client.js"></script>
    <script src="js/jasmine-standalone-3/src/thermostatInterface.js"></script>
    <script src="js/jasmine-standalone-3/src/thermostatApp.js"></script>
    <script src="js/jasmine-standalone-3/src/Weather.js"></script>
    <script src="js/jasmine-standalone-3/src/weatherApi.js"></script>
    <script src="js/interface.js"></script>
  </body>
</html>
